
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

body{
    background-color: #1C82AD;
}
  * {
    box-sizing: border-box;
    
  }

  .form-container {
    width: 80%;
    margin: auto;
    border: 1px solid black;
    
  }

  .form-header {
    background-color: #13005A;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: medium 500;
    color : #03C988;
    border: 2px dotted black;
    border-bottom: 2px solid black;
    
  }

  .form-body {
    padding: 20px;
    background-color: #00337C;
    color : #03C988;
    border: 2px dotted black;
    border-top: 0px;
  }

  .form-label {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    margin-right: 10px;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: light 300;
  }

  .form-input {
    display: inline-block;
    width: 60%;
    margin-bottom: 10px;
    height: 2rem;
  }
button{
    height: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: light 300;
    background-color: #03C988;
}

